.header {
  border-bottom: 1px solid #ddd;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.navLink {
  margin-left: 30px;
  color: black;
}
.active {
  color: #cda274;
}
